.about-me-divider {
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.about-me-divider svg {
    display: block;
    width: calc(100% + 1.3px);
    min-width: 768px;
    height: 150px;
}

.about-me-divider .shape-fill {
    fill: var(--clr-surface-a0);
}

.skewed {
    margin-top: 48px;
    width: 100%;
    height: 64px;
    background: var(--clr-surface-tonal-a0);
    z-index: 0;
    transform: skewY(1deg);
    transform-origin: top right;
  }